@font-face {
  font-family: Abril;
  src: url(assets/AbrilFatface-Regular.ttf);
}

@font-face {
  font-family: cloud;
  src: url(assets/Cloud-Bold.otf);
}

@font-face {
  font-family: Ruthie;
  src: url(assets/Ruthie-Regular.ttf);
}

@font-face {
  font-family: barmeno;
  src: url(assets/Barmeno-Medium.otf);
}

@font-face {
  font-family: lte-sans;
  src: url(assets/LTEdge-Sans.ttf);
}

@font-face {
  font-family: lte-semi;
  src: url(assets/LTEdge-SemiBoldSans.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.main-box {
  width: 97vw;
  height: 550px;
  background-image: linear-gradient(
      rgba(26, 26, 26, 0.7),
      rgba(32, 32, 32, 0.7)
    ),
    url(head-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 15px auto;
  position: relative;
}

.triangle {
  position: absolute;
  left: -58px;
  top: 50%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 70px 28px 70px;
  border-color: transparent transparent #ffffff transparent;
  transform: rotate(90deg);
}

.triangle-2 {
  position: absolute;
  right: -58px;
  top: 50%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 70px 28px 70px;
  border-color: transparent transparent #ffffff transparent;
  transform: rotate(-90deg);
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
}

.navbar {
  display: flex;
  margin: 18px 20px;
}

.logo img {
  width: 120px;
  height: auto;
}

.navbar li a {
  color: white;
  font-family: cloud;
  font-size: 14px;
  margin: 15px 10px;
  transition: all 0.3s ease;
  position: relative;
  text-decoration: none;
}

.navbar li {
  position: relative;
  transition: all 0.3s linear;
}

.navbar li::after {
  content: "";
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: rgb(184, 165, 62);
  visibility: hidden;
  transition: all 0.3s linear;
  position: absolute;
}

.navbar li :not(:first-child):hover .navbar li::after {
  visibility: visible;
  width: 100%;
}

#underlined {
  color: rgb(184, 165, 62);
  position: relative;
}

.dropdown-home {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 50px;
  margin-left: -223px;
  width: 90vw;
  height: 200px;
  background-color: rgb(27, 27, 27);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.dropdown-main {
  margin-top: 20px;
  margin-left: -15px;
  margin-right: 60px;
  line-height: 40px;
  transition: all 0.2s ease;
}

.dropdown-main li {
  font-size: 13px;
  color: #919191;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dropdown-main li:hover {
  color: rgb(184, 165, 62);
  transform: translateX(10px);
}

.navbar li:hover .dropdown-home {
  visibility: visible;
  opacity: 1;
}

#underlined::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 45px;
  height: 2px;
  background-color: rgb(184, 165, 62);
}

/* ---------------------------------------------------------------------------- */

#about {
  position: relative;
}

.dropdown-home-about {
  position: absolute;
  width: 12vw;
  top: 50px;
  background-color: rgb(27, 27, 27);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.navbar li:hover .dropdown-home-about {
  visibility: visible;
  opacity: 1;
}

/* ---------------------------------------------------------------------------------------- */

#menu {
  position: relative;
}

.dropdown-home-menu {
  position: absolute;
  width: 12vw;
  top: 50px;
  background-color: rgb(27, 27, 27);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.navbar li:hover .dropdown-home-menu {
  visibility: visible;
  opacity: 1;
}

/* --------------------------------------------------------------------------------- */

#features {
  position: relative;
}

.dropdown-home-features {
  position: absolute;
  width: 16vw;
  top: 50px;
  background-color: rgb(27, 27, 27);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.navbar li:hover .dropdown-home-features {
  visibility: visible;
  opacity: 1;
}

.fa-chevron-right {
  margin-left: 40px;
  margin-right: 0px;
}

/* ------------------------------------------------------------------------------------- */

.landing-page {
  position: relative;
}

.landing-page-cascade {
  background-color: rgb(27, 27, 27);
  width: 13vw;
  position: absolute;
  left: 200px;
  top: 0px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.landing-page:hover .landing-page-cascade {
  visibility: visible;
  opacity: 1;
}

.menu-classic {
  position: relative;
}

.menu-classic-cascade {
  background-color: rgb(27, 27, 27);
  width: 15vw;
  position: absolute;
  left: 145px;
  top: 0px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.menu-classic:hover .menu-classic-cascade {
  visibility: visible;
  opacity: 1;
}

/* ----------------------------------------------------------------------------------- */

#elements {
  position: relative;
}

.dropdown-elements {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 50px;
  left: -770px;
  width: 90vw;
  height: 360px;
  background-color: rgb(27, 27, 27);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.dropdown-elements h5 {
  color: rgb(184, 165, 62);
  font-size: 18px;
}

.navbar li:hover .dropdown-elements {
  visibility: visible;
  opacity: 1;
}

/* ----------------------------------------------------------------------------------- */
.navbar a:hover {
  color: rgb(184, 165, 62);
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right a:first-child {
  color: rgb(255, 255, 255);
  font-family: cloud;
  font-size: 16px;
  margin-right: 10px;
  padding: 3px 15px;
  background-color: rgb(184, 165, 62);
  border-radius: 0px !important;
}

.header-right a {
  vertical-align: middle;
  font-size: 16px;
  color: white;
  margin-right: 10px;
  margin-left: 5px;
  transition: all 0.5s ease;
}

.header-right a:hover {
  color: black;
  transform: translateY(-10px);
}

.header-right a i {
  color: white;
}
.just-line {
  width: 20px;
  height: 1px;
  background-color: rgb(228, 228, 228);
  transform: rotate(90deg);
}

/* ================================================================================= */

.hero-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 5px;
}

.hero-head {
  margin-top: 18%;
  color: rgb(184, 165, 62);
  font-family: Ruthie;
  font-size: 50px;
}

.hero-mid {
  color: white;
  font-family: Abril;
  font-size: 78px;
  line-height: 40px;
}

.hero-para2 {
  color: #ffffff;
  font-size: 20px;
  font-family: barmeno;
  word-spacing: 15px;
  margin-top: 11%;
}

.btn-2 {
  color: #ffffff;
  padding: 12px 50px;
  margin-top: 40px;
  font-family: barmeno;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 25px;
  transition: all 0.2s ease-in;
}

.btn-2:hover {
  color: rgb(184, 165, 62);
  background-color: #ffffff;
}

.super-icon {
  position: relative;
}
.super-icon::after {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(201, 177, 40);
}

/* ========================================================================================== */

.section-2 {
  margin: 8% auto;
}
.left-para {
  font-size: 14px;
  font-family: lte-sans;
  color: #5c5c5c;
}

.our-adress {
  font-family: cloud;
  font-size: 22px;
}

.adress-button {
  font-family: lte-semi;
}

.icon-list{
  margin-right: auto !important;
}

.icon-list li {
  font-size: 15px;
  margin-right: auto !important;
}

.icon-list li i {
  background-color: #141414;
  padding: 10px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.icon-list li i:hover {
  background-color: goldenrod;
}
